.button {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: 'Graphik', Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: var(--button-bgcolor);
	color: var(--button-color);
	border: none;
	line-height: 1;
	cursor: pointer;
	
}
.button:hover {
	background-color: var(--dark-blue-color);
	color: #d7ff23;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	transition: background-color 0.8s, transform 0.8s, border-radius 0.8s;
	transform: scale(110%);
	border-radius: 20px;
}
:disabled {
	box-shadow: none;
	cursor: auto;
	color: rgba(169, 169, 169, 0.6);
}
:disabled:hover {
	background-color: #f0f0f0;
	box-shadow: none;
    color: rgba(169, 169, 169, 0.6);
}
.icon {
	margin-left: 5px;
}
